({
    "textures.terrain.temp": File (
        path: "textures/temp_terrain_tex.png",
    ),
    "textures.terrain.grass": File (
        path: "textures/grass.jpg",
    ),
    "textures.terrain.rock": File (
        path: "textures/rock.png",
    ),
})
